{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>phone ○ book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'accounts/style.css'%}">
	
	</head>
	<body>
		<div>
		<br>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					{% block main %}{% endblock %}
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								{% block right %}
                                {% endblock %}
								
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex" >
			      		<div class="w-100">
                            {% block title_name%}{%endblock%}
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
									</p>
								</div>
			      	</div> {% block left %}
							{% endblock %}
		        </div>
		      </div>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
	

	

	</body>
</html>

